.li-scatter-heatmap {
  position: relative;
}
.li-scatter-heatmap .coverage{
  position: absolute;
  right: 0;
  top: 0;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: rgba(0,0,0,0.85);
  line-height: 22px;
  font-weight: 400;
}
.li-scatter-heatmap .tooltip {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 0;
  height: 0;
  background: #000000;
  pointer-events: none;
  transition: left 0.5s ease 0s, top 0.5s ease 0s,opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, transform 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.li-scatter-heatmap .tooltip .container{
  position: absolute;
  padding: 10px;
  background: #00000080;
  left: 50%;
  top: -9px;
  border-radius: 2px;
  transform: translate(-50%, -100%);
  cursor: default;
  pointer-events: none;
  color: #fff;
}

.li-scatter-heatmap .tooltip .container .start-wrap, .li-scatter-heatmap .tooltip .container .end-wrap{
  display: flex;
}

.li-scatter-heatmap .tooltip .container .start-tip, .li-scatter-heatmap .tooltip .container .end-tip{
  width: 45px;
}

.li-scatter-heatmap .tooltip .arrow{
  position: absolute;
  left: calc(50% - 4px);
  bottom: -8px;
  width: 0;
  height: 0;
  background: transparent;
  border-right: 4px solid #00000000;
  border-left: 4px solid #00000000;
  border-top: 4px solid #00000080;
  border-bottom: 4px solid #00000000;
  pointer-events: none;
}

.li-scatter-heatmap .tooltip .info{
  height: 20px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: 400;
  pointer-events: none;
}